* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #ffb6c1;
    --secondary: #e6678c;
    --accent: #a3c4bc;
    --text: #2c3e50;
    --base-font-size:16px;
}

/* colour variables */
.c-primary {
    color: var(--primary);
}

.c-primary-bg {
    background-color: var(--primary);
}

.c-secondary {
    color: var(--secondary);
}

.c-secondary-bg {
    background-color: var(--secondary);
}

.c-accent {
    color: var(--accent);
}

.c-accent-bg {
    background-color: var(--accent);
}

.c-text {
    color: var(--text);
}

.c-text-bg {
    background-color: var(--text);
}

/* font stuff */
.f-caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

.f-quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.f-light {
    font-weight: 300;
}

.f-regular {
    font-weight: 400;
}

.f-medium {
    font-weight: 500;
}

.f-semibold {
    font-weight: 600;
}

.f-bold {
    font-weight: 700;
}

/* main */
html {
    font-size: var(--base-font-size);
}

body {
    background-color: #ffffff;
    color: var(--text);
    padding-top: 8.375rem;
}

/* header */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 2.75rem;
    z-index: 1000;
    background-color: #ffffff;
}

header img {
    max-width: 6.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 4.0625rem;
    align-self: center;
    font-weight: 700;
    font-size: 1.25rem;
}

header nav a {
    text-decoration: none;
    color: var(--text);
    transition: border-color 0.2s ease-in-out;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: 0.125rem;
}

header nav a:hover {
    border-color: var(--accent);
}

.search-bar {
    display: flex;
    position: relative;
    align-self: center;
    flex-grow: 1;
    height: 2.5rem;
    border-radius: 1.875rem;
    border: 0.125rem solid var(--secondary);
    overflow: hidden;
    max-width: 25rem;
    margin: 0 3rem;
    transition: border-color 0.2s ease-in-out;
}

.search-bar:focus-within {
    border-color: var(--accent);
}

.search-field {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1.25rem;
    background: transparent;
    padding-left: 0.9375rem;
    padding-right: 0;
}

.search-field::-webkit-search-decoration,
.search-field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    max-height: 1.75rem;
}

.login-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.login-container a {
    text-decoration: none;
}

#signup-btn {
    padding: 0.625rem 1.0625rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    color: var(--text);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#signup-btn:hover {
    background-color: var(--secondary);
    color: #ffffff;
}

#login-btn {
    display: flex;
    align-items: center;
    color: var(--text);
    transition: border-color 0.2s ease-in-out;
    border-bottom: 0.125rem solid transparent;
    padding-bottom: 0.125rem;
}

#login-btn:hover {
    border-color: var(--accent);
}

.hero {
    background: linear-gradient(180deg, #ffffff 0%, var(--primary) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    padding-bottom: 0.8125rem;
    flex-shrink: 1;
}

.hero-content h1 {
    -webkit-text-stroke: 0.0625rem var(--text);
    font-size: 4rem;
}

.hero-content h1 span {
    display: block;
    font-size: 4.5rem;
}

.hero-content h3 {
    font-size: 1.5625rem;
    opacity: 0.7;
    margin-top: 1.1875rem;
    margin-bottom: 2.625rem;
}

.hero-buttons {
    display: flex;
    gap: 3.25rem;
}

.hero-buttons button:first-of-type {
    background-color: var(--secondary);
    color: #ffffff;
    border-radius: 1.875rem;
    height: 4rem;
    font-size: 1.3125rem;
    border: none;
    cursor: pointer;
    width: 16.6875rem;
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.hero-buttons button:first-of-type:hover {
    background-color: #e14a76;
    filter: drop-shadow(0px 4px 4px var(--text));
}

.hero-buttons button:last-of-type {
    background-color: #ffffff;
    color: var(--text);
    border-radius: 1.875rem;
    height: 4rem;
    font-size: 1.3125rem;
    border: 0.125rem solid var(--secondary);
    cursor: pointer;
    width: 16.6875rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.hero-buttons button:last-of-type:hover {
    color: #ffffff;
    background-color: var(--text);
    border-color: #ffffff;
}

.hero-img {
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(-1);
    max-width: 55%;
    height: auto;
    margin-left: auto;
    mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 80%);
}